release: 0.1.0-nightly.95a7d95f
trustImage: ghcr.io/trustification/trust
uiImage: ghcr.io/trustification/trust-ui
docsImage: ghcr.io/trustification/trust-docs
testsImage: ghcr.io/trustification/trust-tests
domain: trustification.dev
replicas: 2
imagePullPolicy: IfNotPresent
region: eu-west-1
enableWalkers: false
spog:
  uiConfig: config/prod/spog-ui.yaml
bombastic:
  bucket: bombastic-prod
  credentials: bombastic-credentials-secret
  storedTopic: sbom-stored-prod
  indexedTopic: sbom-indexed-prod
  failedTopic: sbom-failed-prod
  exporterTopic: sbom-guac-prod
  indexMode: file
vexination:
  bucket: vexination-prod
  credentials: vexination-credentials-secret
  storedTopic: vex-stored-prod
  indexedTopic: vex-indexed-prod
  failedTopic: vex-failed-prod
  source: https://www.redhat.com/.well-known/csaf/provider-metadata.json
  exporterTopic: vex-guac-prod
  indexMode: file
keycloak:
  enabled: true
  production: true
  proxy: reencrypt
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false
  auth:
    adminUser: admin
    existingSecret: sso-admin
    passwordSecretKey: password
  tls:
    enabled: true
    existingSecret: sso-tls
    usePem: true
  service:
    annotations:
      service.beta.openshift.io/serving-cert-secret-name: sso-tls
  ingress:
    enabled: true
    ingressClassName: openshift-default
    hostname: sso.trustification.dev
    servicePort: https
    annotations:
      route.openshift.io/termination: reencrypt
  postgresql:
    primary:
      containerSecurityContext:
        enabled: false
      podSecurityContext:
        enabled: false
    auth:
      existingSecret: sso-postgres
keycloakRealm:
  redirectUris:
    - http://localhost:*
    - https://trustification.dev
    - https://trustification.dev/*
    - https://sbom.trustification.dev
    - https://sbom.trustification.dev/*
    - https://vex.trustification.dev
    - https://vex.trustification.dev/*
authentication:
  issuerUrl: https://sso.trustification.dev/realms/chicken
  clientIds:
    - frontend
    - walker
oidcClients:
  frontend:
    issuerUrl: https://sso.staging.trustification.dev/realms/chicken
    clientId:
      value: frontend
  walker:
    issuerUrl: https://sso.staging.trustification.dev/realms/chicken
    clientSecret:
      valueFrom:
        secretKeyRef:
          name: oidc-client-walker
          key: client-secret
