apiVersion: apps/v1
kind: Deployment
metadata:
  name: bombastic-exporter
  labels:
    app.kubernetes.io/name: bombastic-exporter
    app.kubernetes.io/component: exporter
    app.kubernetes.io/part-of: bombastic
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: bombastic-exporter
      app.kubernetes.io/component: exporter
      app.kubernetes.io/part-of: bombastic
  template:
    metadata:
      labels:
        app.kubernetes.io/name: bombastic-exporter
        app.kubernetes.io/component: exporter
        app.kubernetes.io/part-of: bombastic
    spec:
      volumes:
        - name: data
          emptyDir: {}
      containers:
        - image: ghcr.io/trustification/trust:{{ .Values.release }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          name: service
          command: ["/trust"]
          args: ["exporter", "--event-bus", "sqs", "--stored-topic", "{{ .Values.bombastic.exporterTopic }}", "--storage-bucket", "{{ .Values.bombastic.bucket }}", "--guac-url", "trustification-nats:4222" ]
          env:
            - name: RUST_LOG
              value: info
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.bombastic.credentials }}"
                  key: access-key-id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.bombastic.credentials }}"
                  key: secret-access-key
            - name: REGION
              value: "{{ .Values.region }}"
            - name: INFRASTRUCTURE_ENABLED
              value: "true"
            - name: INFRASTRUCTURE_BIND
              value: "[::]:9010"
          volumeMounts:
            - name: data
              mountPath: /data
          livenessProbe:
            httpGet:
              path: /health/live
              port: 9010
            initialDelaySeconds: 2
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 9010
            initialDelaySeconds: 2
          startupProbe:
            httpGet:
              path: /health/startup
              port: 9010
